#cat {
	text-align: center;
	border: 1px solid;
	width: 233px;
	padding: 14px;
	margin: 25px;
}

.lab {
	display: inline-block;
}

.round {
	height: 12px;
	width: 12px;
	background-color: rgb(233, 221, 221);
	border-radius: 50%;
	display: inline-block;
	margin: 3px;
}

.round.selected {
	background-color: black;
}